<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>New Search</title>
  <%- include('../../layout/head') %>
</head>
  <body>
    <%- include('../../layout/header') %>
    <h1>Search Book</h1>
    <section class="search-form">
    <form action="/searches" method="post">
      <div id="searchDiv">
          <input required type="text" name="input" id="searchText" placeholder="Enter a title or author">
      </div>
      <div id="radioDiv">
          <div class="btnRadio">
              <label for="title">Title <input checked type="radio" id="title" name="titleOrAuthor" value="title"></label>
          </div>
          <div class="btnRadio">
              <label for="author">Author <input type="radio" id="author" name="titleOrAuthor" value="author"></label>
          </div>
      </div>
      <button type="submit">Search</button>
    </form>
  </section>
    <%- include('../../layout/footer') %>
  </body>
</html>
